{% if include.style %}
  {% if include.style == 'success' %}
    {% assign fa = 'fa-smile-o' %}
    {% assign oi = 'thumb-up' %}
  {% elsif include.style == 'danger' %}
    {% assign fa = 'fa-meh-o' %}
    {% assign oi = 'warning' %}
  {% elsif include.style == 'warning' %}
    {% assign fa = 'fa-exclamation-triangle' %}
    {% assign oi = 'warning' %}
  {% elsif include.style == 'info' %}
    {% assign fa = 'fa-info-circle' %}
    {% assign oi = 'info' %}
  {% else %}
    {% assign fa = false %}
    {% assign oi = false %}
  {% endif %}
{% endif %}

<div {% if include.id %} id="{{ include.id }}"{% endif %} class="alert {% if include.style %}alert-{{ include.style }}{% endif %} {% if include.dismissible %}alert-dismissible{% endif %} mb-3 clearfix fade show -animated -bounceInDown" role="alert" hidden>

  {% if include.dismissible %}
  <button type="button" class="close" data-dismiss="alert" title="{{ t.close }}" aria-label="{{ t.close }}">
    <span aria-hidden="true">&times;</span>
  </button>
  {% endif %}

  {% if include.title %}
  <h5>
    {% if fa %}<span class="fa {{ fa }} fa-4x pull-left mr-3" aria-hidden="false"></span>{% endif %}
    {% if oi %}{% comment %}<img src="{{ '/bower_components/open-iconic/svg/' | append: oi | append: '.svg' | relative_url }}" class="oi oi-4x pull-left mr-3" alt="{{ oi }}">{% endcomment %}{% endif %}
    {{ include.title }}
  </h5>
  {% endif %}

  {% if include.content %}
  {{ include.content | strip }}
  {% elsif include.text %}
  <p>{{ include.text | strip }}</p>
  {% endif %}

</div>
