
{% if page.asides %}
<div id="asides_accordion" role="tablist">
  {% for path in page.asides %}

    {% for item in site.asides %}
      {% if path == item.path %}
        <div class="card mb-3 {{ item.class }}">
          {% if item.header %}
          <div class="card-header" role="tab" id="aside_header_{{ forloop.index }}" data-toggle="collapse" data-target="#aside_collapse_{{ forloop.index }}" {% if forloop.index == 0 %}aria-expanded="true"{% endif %} aria-controls="aside_collapse_{{ forloop.index }}">
            <h5 class="mb-0">
              {% if item.icon %}<span class="fa fa-lg {{ item.icon }}"></span> {% endif %}
              {{ item.title }}
            </h5>
          </div>
          {% endif %}
          <div id="aside_collapse_{{ forloop.index }}" class="collapse {% if forloop.index == 0 %}show{% endif %}" role="tabpanel" aria-labelledby="aside_header_{{ forloop.index }}" data-parent="#asides_accordion">
            <div class="card-body">
              <p class="card-text">{{ item.content | strip | markdownify }}</p>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}

  {% endfor %}
</div>
{% endif %}
