
{% assign post = include.post %}

{% assign categories = '' | split: ' ' | push: post.categories | uniq | compact | sort_natural %}
{% assign tags = '' | split: ' ' | push: post.tags | uniq | compact | sort_natural %}

{% assign today = site.time | date: '%s' %}
{% assign date = post.date | date: '%s' %}
{% assign secondsSince = today | minus: date %}
{% assign hoursSince = secondsSince | divided_by: 60 | divided_by: 60 %}
{% assign daysSince = hoursSince | divided_by: 24 %}

{% assign card-classes = 'card' | split: ' ' %}

{% if include.face != 'back' %}


{% if page.card.image != false %}
{% assign src = post.image.default.path | default: post.image.default | default: post.image.path | default: post.image %}
{% endif %}

{% if src and include.face != 'back' %}
{% assign card-img-classes = 'img-fluid lazyload' | split: ' ' %}
{% if page.card.image_position == 'top' or page.card.image_position == 'bottom' %}
{% capture class %}card-img-{{ page.card.image_position }}{% endcapture %}
{% assign card-img-classes = card-img-classes | push: class %}
{% else %}
{% assign card-img-classes = card-img-classes | push: 'card-img' %}
{% endif %}
{% if include.img-class %}
{% assign card-img-classes = include.img-class | split: ' ' | concat: card-img-classes %}
{% endif %}
{% endif %}

{% endif %}

{% if include.face %}
{% assign card-classes = include.face | split: ' ' | concat: card-classes %}
{% endif %}

{% if post.weight > 0 %}
{% assign card-classes = 'bg-primary border-primary text-white' | split: ' ' | concat: card-classes %}
{% endif %}

{% if include.class %}
{% assign card-classes = include.class | split: ' ' | concat: card-classes %}
{% endif %}



{% assign card-body-classes = 'd-flex flex-column' | split: ' ' %}
{% if include.body-class %}
{% assign card-body-classes = include.body-class | split: ' ' | concat: card-body-classes %}
{% endif %}
{% if src and include.face != 'back' %}
{% if page.card.image_position == 'overlay' %}
{% assign card-body-classes = card-body-classes | push: 'card-img-overlay' %}
{% else %}
{% assign card-body-classes = card-body-classes | push: 'card-body' %}
{% endif %}
{% else %}
{% assign card-body-classes = card-body-classes | push: 'card-body' %}
{% endif %}

{% if include.face == 'front' %}
{% assign card-body-classes = 'justify-content-center align-items-center' | split: ' ' | concat: card-body-classes %}
{% else %}
{% if page.card.text_align %}
{% assign card-body-classes = 'justify-content-' | append: page.card.text_align | split: ' ' | concat: card-body-classes %}
{% endif %}
{% if page.card.vertical_align %}
{% assign card-body-classes = 'h-100 align-items-' | append: page.card.vertical_align | split: ' ' | concat: card-body-classes %}
{% endif %}
{% endif %}

{% assign card-title-classes = 'card-title' | split: ' ' %}
{% if include.title-class %}
{% assign card-title-classes = include.title-class | split: ' ' | concat: card-title-classes %}
{% endif %}

{% assign title = post.title | split: ':' | last | strip %}
{% assign subtitle = post.title | split: ':' | first | strip %}
{% assign subtitle = post.subtitle | default: subtitle %}
{% if subtitle == title %}
{% assign subtitle = nil %}
{% endif %}

{% if page.card.read_more_type == 'button' %}
{% assign read-more-classes = 'btn btn-primary' | split: ' ' %}
{% elsif page.card.read_more_type == 'link' %}
{% assign read-more-classes = 'card-link' | split: ' ' %}
{% endif %}

<div class="{{ card-classes | uniq | compact | join: ' ' }}" >

  {% if src and include.face != 'back' %}
  <div class="ratio-container unknown-ratio-container">
    <img class="{{ card-img-classes | uniq | compact | join: ' ' }}" src="{{ src | relative_url }}" alt="{{ post.title }}" width="{{ post.image.default.width | default: post.image.width }}" height="{{ post.image.default.height | default: post.image.height }}" />
  </div>
  {% endif %}

  <div class="{{ card-body-classes | uniq | compact | join: ' ' }}">

    {% if subtitle and include.face != 'back' %}
    <h6 class="card-subtitle">{{ subtitle | escape }}</h6>
    {% endif %}

    {% if title and include.face != 'back' %}
    <h4 class="{{ card-title-classes | uniq | compact | join: ' ' }}">
      {% if page.card.title_link %}
      <a class="card-link" href="{{ post.url | relative_url }}">{{ title | escape }}</a>
      {% else %}
      {{ title | escape }}
      {% endif %}
    </h4>
    {% endif %}

    {% if post.excerpt and include.face != 'front' %}
    <p class="card-text">{{ post.excerpt | escape }}</p>
    {% endif %}

    {% if page.card.categories and categories and include.face != 'front' or page.card.tags and tags and include.face != 'front' %}
    <div>
      {% if page.card.categories and categories and include.face != 'front' %}<span class="pull-left m-1 hidden-sm visible-xs">{% include tags.html array=categories item-class="badge badge-primary" %}</span>{% endif %}
      {% if page.card.tags and tags and include.face != 'front' %}<span class="pull-left m-1 hidden-sm visible-xs">{% include tags.html array=tags item-class="badge badge-secondary" %}</span>{% endif %}
    </div>
    {% endif %}

    {% if read-more-classes and page.card.read_more_container != 'footer' and include.face != 'front' %}
    <p>
      <a href="{{ post.url | relative_url }}" class="{{ read-more-classes | uniq | compact | join: ' ' }}">
        {{ page.card.read_more | default: t.read_more | escape }}
      </a>
    </p>
    {% endif %}

  </div>


  {% if page.card.date or page.card.categories or page.card.tags or page.card.read_more_container == 'footer' or include.face == 'front' or include.face == 'front' %}
  <div class="card-footer">

    <div class="d-flex justify-content-between align-items-center">

      {% if include.face == 'front' %}
      <label for="flipcard_position_{{ post.url | slugify: 'default' }}" class="btn btn-secondary mb-0" title="{{ t.details }}" aria-label="{{ t.details }}">
        <span class="fa fa-question fa-fw" aria-hidden="true"></span>{% comment %}<img src="{{ '/bower_components/open-iconic/svg/question-mark.svg' | relative_url }}" class="oi oi-lg" alt="question-mark" hidden>{% endcomment %}
      </label>
      {% endif %}
      {% if include.face == 'back' %}
      <button type="button" class="btn btn-secondary mb-0 flipcard-toggler" title="{{ t.close }}" aria-label="{{ t.close }}">
        <span class="fa fa-times fa-fw" aria-hidden="true"></span>{% comment %}<img src="{{ '/bower_components/open-iconic/svg/x.svg' | relative_url }}" class="oi oi-lg" alt="x" hidden>{% endcomment %}
      </button>
      {% endif %}

      {% if page.card.date and include.face != 'front' %}<small class="text-muted pull-right">{{ post.date | date: "%b %-d, %Y" }}</small>{% endif %}
      {% if page.card.new and daysSince <= page.card.new and include.face != 'back' %}<small class="text-muted pull-right">Modifié il y a {{ daysSince }} jours</small>{% endif %}

      {% if read-more-classes and page.card.read_more_container == 'footer' %}
      <a href="{{ post.url | relative_url }}" class="{{ read-more-classes | uniq | compact | join: ' ' }} mb-0" title="{{ page.card.read_more | default: t.read_more }}" aria-label="{{ page.card.read_more | default: t.read_more }}">
        <span class="fa fa-chevron-right fa-fw" aria-hidden="true"></span>{% comment %}<img src="{{ '/bower_components/open-iconic/svg/chevron-right.svg' | relative_url }}" class="oi oi-lg" alt="chevron-right" hidden>{% endcomment %}
      </a>
      {% endif %}

    </div>

    {% if page.card.progress and post.layout == 'definition-lists' and include.face != 'back' %}
    <div class="progress mt-2" data-id="{{ post.url | slugify }}" title="{{ t.progress }}">
      <div class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    {% endif %}

  </div>
  {% endif %}
  {% if include.face != 'front' %}{% endif %}

</div>
