<script async src="{{ '/bower_components/cookieconsent/build/cookieconsent.min.js' | relative_url }}"></script>
<script>
window.addEventListener("load", function(){
    window.cookieconsent.initialise({
        "palette": {
            "popup": {
                "background": "#237afc"
            },
            "button": {
                "background": "#fff",
                "text": "#237afc"
            }
        },
        "theme": "block",
        "position": "bottom-right",
        "content": {
            "message": "{{ t.cookieconsent_message }}",
            "dismiss": "{{ t.cookieconsent_dismiss }}",
            "link": "{{ t.cookieconsent_link }}"
        }
    })
});
</script>
