html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

footer,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

main {
  display: block;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

img {
  border-style: none;
}

button {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

button,
html [type="button"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@-ms-viewport {
  width: device-width;
}

html {
  -ms-overflow-style: scrollbar;
}

body {
  font-family: "Roboto",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: .8125rem;
  font-weight: normal;
  line-height: 1.5;
  color: #666;
  background-color: #fff;
}

h1,
h4,
h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: #2196F3;
  text-decoration: none;
}

img {
  vertical-align: middle;
}

a,
button {
  touch-action: manipulation;
}

button {
  line-height: inherit;
}

h1,
h4,
h6 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 400;
  line-height: 1.1;
  color: #444;
}

h1 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1rem;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.1;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,0.1);
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 768px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 992px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 1200px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 576px) {
  .container {
    width: 540px;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
    max-width: 100%;
  }
}

.container-fluid {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 768px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 992px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 1200px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 576px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}

@media (min-width: 768px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}

@media (min-width: 992px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}

@media (min-width: 1200px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}

.col,
.col-sm-4,
.col-sm-8 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .col,
  .col-sm-4,
  .col-sm-8 {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 768px) {
  .col,
  .col-sm-4,
  .col-sm-8 {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 992px) {
  .col,
  .col-sm-4,
  .col-sm-8 {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 1200px) {
  .col,
  .col-sm-4,
  .col-sm-8 {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

@media (min-width: 576px) {
  .col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
}

.collapse {
  display: none;
}

.nav {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: 0.5em 1em;
}

.nav-pills .nav-link {
  border-radius: .25rem;
}

.nav-pills .nav-link.active {
  color: #fff;
  background-color: #2196F3;
}

.navbar {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
}

.navbar-brand {
  display: inline-block;
  padding-top: .25rem;
  padding-bottom: .25rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-toggler {
  align-self: flex-start;
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: transparent;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

.navbar-toggler-right {
  position: absolute;
  right: 1rem;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-toggler {
  color: rgba(0,0,0,0.9);
}

.navbar-light .navbar-toggler {
  border-color: rgba(0,0,0,0.1);
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")}.navbar-light .navbar-text{color:rgba(0,0,0,0.5)}.navbar-inverse .navbar-brand,.navbar-inverse .navbar-toggler{color:#fff}.navbar-inverse .navbar-brand:focus,.navbar-inverse .navbar-brand:hover,.navbar-inverse .navbar-toggler:focus,.navbar-inverse .navbar-toggler:hover{color:#fff}.navbar-inverse .navbar-nav .nav-link{color:rgba(255,255,255,0.6)}.navbar-inverse .navbar-nav .nav-link:focus,.navbar-inverse .navbar-nav .nav-link:hover{color:#fff}.navbar-inverse .navbar-nav .nav-link.disabled{color:rgba(255,255,255,0.25)}.navbar-inverse .navbar-nav .open>.nav-link,.navbar-inverse .navbar-nav .active>.nav-link,.navbar-inverse .navbar-nav .nav-link.open,.navbar-inverse .navbar-nav .nav-link.active{color:#fff}.navbar-inverse .navbar-toggler{border-color:rgba(255,255,255,0.1)}.navbar-inverse .navbar-toggler-icon{background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,0.6)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")}.navbar-inverse .navbar-text{color:rgba(255,255,255,0.6)}.card{position:relative;display:flex;flex-direction:column;background-color:#fff;border:1px solid rgba(0,0,0,0.125);border-radius:.25rem}.card-block{flex:1 1 auto;padding:1.25rem}.card-title{margin-bottom:.75rem}.card-subtitle{margin-top:-0.375rem;margin-bottom:0}.card-text:last-child{margin-bottom:0}.card-link:hover{text-decoration:none}.card-link+.card-link{margin-left:1.25rem}.card>.list-group:first-child .list-group-item:first-child{border-top-right-radius:.25rem;border-top-left-radius:.25rem}.card>.list-group:last-child .list-group-item:last-child{border-bottom-right-radius:.25rem;border-bottom-left-radius:.25rem}.card-header{padding:.75rem 1.25rem;margin-bottom:0;background-color:#eee;border-bottom:1px solid rgba(0,0,0,0.125)}.card-header:first-child{border-radius:calc(.25rem - 1px) calc(.25rem - 1px) 0 0}.card-footer{padding:.75rem 1.25rem;background-color:#eee;border-top:1px solid rgba(0,0,0,0.125)}.card-footer:last-child{border-radius:0 0 calc(.25rem - 1px) calc(.25rem - 1px)}.card-header-tabs{margin-right:-0.625rem;margin-bottom:-0.75rem;margin-left:-0.625rem;border-bottom:0}.card-header-pills{margin-right:-0.625rem;margin-left:-0.625rem}.card-primary{background-color:#2196F3;border-color:#2196F3}.card-primary .card-header,.card-primary .card-footer{background-color:transparent}.card-success{background-color:#4CAF50;border-color:#4CAF50}.card-success .card-header,.card-success .card-footer{background-color:transparent}.card-info{background-color:#9C27B0;border-color:#9C27B0}.card-info .card-header,.card-info .card-footer{background-color:transparent}.card-warning{background-color:#ff9800;border-color:#ff9800}.card-warning .card-header,.card-warning .card-footer{background-color:transparent}.card-danger{background-color:#e51c23;border-color:#e51c23}.card-danger .card-header,.card-danger .card-footer{background-color:transparent}.card-outline-primary{background-color:transparent;border-color:#2196F3}.card-outline-secondary{background-color:transparent;border-color:#ccc}.card-outline-info{background-color:transparent;border-color:#9C27B0}.card-outline-success{background-color:transparent;border-color:#4CAF50}.card-outline-warning{background-color:transparent;border-color:#ff9800}.card-outline-danger{background-color:transparent;border-color:#e51c23}.card-inverse{color:rgba(255,255,255,0.65)}.card-inverse .card-header,.card-inverse .card-footer{background-color:transparent;border-color:rgba(255,255,255,0.2)}.card-inverse .card-header,.card-inverse .card-footer,.card-inverse .card-title,.card-inverse .card-blockquote{color:#fff}.card-inverse .card-link,.card-inverse .card-text,.card-inverse .card-subtitle,.card-inverse .card-blockquote .blockquote-footer{color:rgba(255,255,255,0.65)}.card-inverse .card-link:focus,.card-inverse .card-link:hover{color:#fff}.card-blockquote{padding:0;margin-bottom:0;border-left:0}.card-img{border-radius:calc(.25rem - 1px)}.card-img-overlay{position:absolute;top:0;right:0;bottom:0;left:0;padding:1.25rem}.card-img-top{border-top-right-radius:calc(.25rem - 1px);border-top-left-radius:calc(.25rem - 1px)}.card-img-bottom{border-bottom-right-radius:calc(.25rem - 1px);border-bottom-left-radius:calc(.25rem - 1px)}@media (min-width: 576px){.card-deck{display:flex;flex-flow:row wrap}.card-deck .card{display:flex;flex:1 0 0;flex-direction:column}.card-deck .card:not(:first-child){margin-left:15px}.card-deck .card:not(:last-child){margin-right:15px}}@media (min-width: 576px){.card-group{display:flex;flex-flow:row wrap}.card-group .card{flex:1 0 0}.card-group .card+.card{margin-left:0;border-left:0}.card-group .card:first-child{border-bottom-right-radius:0;border-top-right-radius:0}.card-group .card:first-child .card-img-top{border-top-right-radius:0}.card-group .card:first-child .card-img-bottom{border-bottom-right-radius:0}.card-group .card:last-child{border-bottom-left-radius:0;border-top-left-radius:0}.card-group .card:last-child .card-img-top{border-top-left-radius:0}.card-group .card:last-child .card-img-bottom{border-bottom-left-radius:0}.card-group .card:not(:first-child):not(:last-child){border-radius:0}.card-group .card:not(:first-child):not(:last-child) .card-img-top,.card-group .card:not(:first-child):not(:last-child) .card-img-bottom{border-radius:0}}@media (min-width: 576px){.card-columns{column-count:3;column-gap:1.25rem}.card-columns .card{display:inline-block;width:100%;margin-bottom:.75rem}}.breadcrumb{padding:.75rem 1rem;margin-bottom:1rem;list-style:none;background-color:#eee;border-radius:.25rem}.breadcrumb::after{display:block;content:"";clear:both}.breadcrumb-item{float:left}.breadcrumb-item+.breadcrumb-item::before{display:inline-block;padding-right:.5rem;padding-left:.5rem;color:#666;content:"/";
}

.badge {
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}

.badge-warning {
  background-color: #ff9800;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #eee;
  border-radius: .3rem;
}

@media (min-width: 576px) {
  .jumbotron {
    padding: 4rem 2rem;
  }
}

.jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
}

.align-top {
  vertical-align: top !important;
}

.bg-faded {
  background-color: #f7f7f7;
}

.d-inline-block {
  display: inline-block !important;
}

.flex-column {
  flex-direction: column !important;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.mb-2 {
  margin-bottom: .5rem !important;
}

.text-center {
  text-align: center !important;
}

.text-muted {
  color: #666 !important;
}

@font-face {
  font-family: 'FontAwesome';
  src: url("../bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"),url("../bower_components/font-awesome/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"),url("../bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"),url("../bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"),url("../bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-home:before {
  content: "ï€•";
}

.fa-question-circle:before {
  content: "ï™";
}

.fa-info-circle:before {
  content: "ïš";
}

.fa-github:before {
  content: "ï‚›";
}

.fa-rss:before {
  content: "ï‚ž";
}

::-webkit-scrollbar {
  width: .5em;
  height: .5em;
}

::-webkit-scrollbar-thumb {
  background: #2196F3;
}

::-webkit-scrollbar-track {
  background: #222;
}

body {
  scrollbar-face-color: #2196F3;
  scrollbar-track-color: #222;
}

html {
  overflow-y: scroll;
}

.fa-github:before {
  color: #171515;
}

.fa-rss:before {
  color: #eb7b1d;
}

.ad_container {
  z-index: 1030;
  display: none;
  overflow: hidden;
  background: #fff;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media (orientation: landscape) {
  .ad_container {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
  }
}

@media (orientation: landscape) and (min-width: 568px) and (min-height: 270px) {
  .ad_container {
    display: block;
    width: 150px;
  }

  .ad_container .adsbygoogle {
    width: 120px;
    height: 240px;
  }

  .container-fluid>.navbar.fixed-top,
  .container,
  .container-fluid {
    padding-left: 165px;
  }
}

@media (orientation: landscape) and (min-width: 576px) and (min-height: 630px) {
  .ad_container {
    display: block;
    width: 150px;
  }

  .ad_container .adsbygoogle {
    width: 120px;
    height: 600px;
  }

  .container-fluid>.navbar.fixed-top,
  .container,
  .container-fluid {
    padding-left: 165px;
  }
}

@media (orientation: landscape) and (min-width: 768px) and (min-height: 630px) {
  .ad_container {
    display: block;
    width: 150px;
  }

  .ad_container .adsbygoogle {
    width: 120px;
    height: 600px;
  }

  .container-fluid>.navbar.fixed-top,
  .container,
  .container-fluid {
    padding-left: 165px;
  }
}

@media (orientation: landscape) and (min-width: 992px) and (min-height: 630px) {
  .ad_container {
    display: block;
    width: 190px;
  }

  .ad_container .adsbygoogle {
    width: 160px;
    height: 600px;
  }

  .container-fluid>.navbar.fixed-top,
  .container,
  .container-fluid {
    padding-left: 205px;
  }
}

@media (orientation: landscape) and (min-width: 1920px) and (min-height: 630px) {
  .ad_container {
    display: block;
    width: 330px;
  }

  .ad_container .adsbygoogle {
    width: 300px;
    height: 600px;
  }

  .container-fluid>.navbar.fixed-top,
  .container,
  .container-fluid {
    padding-left: 345px;
  }
}

@media (orientation: landscape) and (min-width: 1920px) and (min-height: 1080px) {
  .ad_container {
    display: block;
    width: 330px;
  }

  .ad_container .adsbygoogle {
    width: 300px;
    height: 1050px;
  }

  .container-fluid>.navbar.fixed-top,
  .container,
  .container-fluid {
    padding-left: 345px;
  }
}

@media (orientation: portrait) {
  .ad_container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  body>div:last-of-type {
    overflow: auto;
  }
}

@media (orientation: portrait) and (min-width: 264px) and (min-height: 312px) {
  .ad_container {
    display: block;
    height: 90px;
  }

  .ad_container .adsbygoogle {
    width: 234px;
    height: 60px;
  }

  body>div:last-of-type {
    padding-bottom: 90px !important;
  }
}

@media (orientation: portrait) and (min-width: 350px) and (min-height: 568px) {
  .ad_container {
    display: block;
    height: 80px;
  }

  .ad_container .adsbygoogle {
    width: 320px;
    height: 50px;
  }

  body>div:last-of-type {
    padding-bottom: 80px !important;
  }
}

@media (orientation: portrait) and (min-width: 498px) and (min-height: 624px) {
  .ad_container {
    display: block;
    height: 90px;
  }

  .ad_container .adsbygoogle {
    width: 468px;
    height: 60px;
  }

  body>div:last-of-type {
    padding-bottom: 90px !important;
  }
}

@media (orientation: portrait) and (min-width: 758px) and (min-height: 970px) {
  .ad_container {
    display: block;
    height: 120px;
  }

  .ad_container .adsbygoogle {
    width: 728px;
    height: 90px;
  }

  body>div:last-of-type {
    padding-bottom: 120px !important;
  }
}

@media (orientation: portrait) and (min-width: 1000px) {
  .ad_container {
    display: block;
    height: 120px;
  }

  .ad_container .adsbygoogle {
    width: 970px;
    height: 90px;
  }

  body>div:last-of-type {
    padding-bottom: 120px !important;
  }
}

@media (orientation: portrait) and (min-width: 992px) {
  .ad_container {
    display: block;
    height: 280px;
  }

  .ad_container .adsbygoogle {
    width: 970px;
    height: 250px;
  }

  body>div:last-of-type {
    padding-bottom: 280px !important;
  }
}

body {
  padding-top: 80px;
  padding-bottom: 20px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23000000' fill-opacity='0.01'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.lazyload {
  opacity: 0;
}
