<div class="{% if include.direction == 'vertical' %}{% else %}btn-toolbar justify-content-between{% endif %} mb-3" role="toolbar" aria-label="{{ t.filters }}">

  <div class="input-group {% if include.direction == 'vertical' %}mb-3{% else %}ml-3{% endif %}">
    <input type="text" class="form-control searchbox" id="searchbox" placeholder="{{ t.search_placeholder }}">
  </div>

  {% assign categories = include.posts | map: "categories" | uniq | compact | sort_natural %}
  {% if categories %}
  <div class="{% if include.direction == 'vertical' %}d-block btn-group-vertical mb-3{% else %}btn-group ml-3{% endif %}" role="group" aria-label="{{ t.category_filters }}" data-toggle="buttons">
    {% assign categories = include.posts | map: "categories" | uniq | compact | sort_natural %}
    {% for filter in categories %}
    {% unless page.categories contains filter %}
    <label class="btn btn-outline-secondary">
      <input type="radio" name="category-filters" value="{{ filter | default: 'divers' }}" class="filter-toggler" data-filter=".category-{{ filter | default: 'divers' }}">{{ filter | default: "divers" }}
    </label>
    {% endunless %}
    {% endfor %}
    <label class="btn btn-outline-secondary">
      <input type="radio" name="category-filters" value="other" class="filter-toggler" data-filter=".category-other">{{ t.other }}
    </label>
    <label class="btn btn-outline-secondary active">
      <input type="radio" name="category-filters" value="all" class="filter-toggler" data-filter="" checked>{{ t.all }}
    </label>
  </div>
  {% endif %}

  <div class="{% if include.direction == 'vertical' %}d-block btn-group-vertical{% else %}btn-group{% endif %}" role="group" aria-label="{{ t.advanced_filters }}" data-toggle="buttons">
    <label class="btn btn-outline-secondary">
      <input type="radio" name="custom-filters" value="featured" class="filter-toggler" data-filter=".featured">{{ t.featured }}
    </label>
    <label class="btn btn-outline-secondary">
      <input type="radio" name="custom-filters" value="new" class="filter-toggler" data-filter=".new">{{ t.new }}
    </label>
    <label class="btn btn-outline-secondary active">
      <input type="radio" name="custom-filters" value="all" class="filter-toggler" data-filter="" checked>{{ t.all }}
    </label>
  </div>

</div>
