<footer class="site-footer">

    <div class="container-fluid wrapper">
<!--
        <h2 class="footer-heading">{{ site.title | escape }}</h2>

        <div class="row footer-col-wrapper">

            <div class="col-md-6 footer-col footer-col-1">
                <ul class="contact-list">
                    <li>
                        {% if site.author %}
                        {{ site.author | escape }}
                        {% else %}
                        {{ site.title | escape }}
                        {% endif %}
                    </li>
                    {% if site.email %}
                    <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                    {% endif %}
                </ul>
            </div>

            <div class="col-md-6 footer-col footer-col-2">
                <ul class="social-media-list">
                    {% if site.github_username %}
                    <li>
                        {% include icon-github.html username=site.github_username %}
                    </li>
                    {% endif %}

                    {% if site.twitter_username %}
                    <li>
                        {% include icon-twitter.html username=site.twitter_username %}
                    </li>
                    {% endif %}
                </ul>
            </div>

        </div>

        <div class="footer-col footer-col-3">
            <p>{{ site.description | escape }}</p>
        </div>
-->
    </div>

</footer>

<!--
<div class="modal fade" id="menu-modal" tabindex="-1" role="dialog" aria-labelledby="{{ t.menu }}" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ t.menu }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% include menu.html %}
            </div>
        </div>
    </div>
</div>
-->

<div class="ad_container">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle relative-center"
    style="display:block"
    data-ad-client="ca-pub-8495719252049968"
    data-ad-slot="3723415549"
    data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>

{% include cookieconsent.html %}

<link rel="stylesheet" href="{{ '/bower_components/cookieconsent/build/cookieconsent.min.css' | relative_url }}">
<link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

<script src="{{ '/bower_components/jquery/dist/jquery.min.js' | relative_url }}"></script>
<script src="{{ '/bower_components/tether/dist/js/tether.min.js' | relative_url }}"></script>
<script src="{{ '/bower_components/bootstrap/dist/js/bootstrap.min.js' | relative_url }}"></script>
<script src="{{ '/bower_components/cookieconsent/build/cookieconsent.min.js' | relative_url }}"></script>
<script src="{{ '/bower_components/lazysizes/lazysizes.min.js' | relative_url }}" async=""></script>
<script src="{{ '/assets/main.js' | relative_url }}"></script>
