<div class="container-fluid">
  <nav class="navbar navbar-light bg-light fixed-top justify-content-between">

    {% if page.layout == 'home' %}
    <a class="navbar-brand" href="{{ "/" | relative_url}}">
      {{ site.title | slice: 0, 4 | escape }}<span class="text-warning">{{ site.title | slice: 4, 100 | escape }}</span>
    </a>
    {% endif %}

    {% if page.layout == 'home' %}
    <span class="navbar-text text-truncate p-0 -hidden-xs-dowm">{{ page.title }}</span>
    {% else %}
    {% include breadcrumb.html class='navbar-text text-truncate p-0' %}
    {% endif %}

    <div class="form-inline">
      {% if page.layout == 'definition-lists' %}
      <button type="button" class="btn btn-outline-secondary mr-2" data-toggle="collapse" data-target="#post_options" aria-controls="post_options" aria-expanded="false" aria-label="{{ t.toggle_options }}" title="{{ t.toggle_options }}" data-toggle="tooltip">
        <span class="fa fa-bars fa-lg fa-fw"></span>
      </button>
      {% endif %}
      {% if page.layout == 'cards' %}
      <button type="button" class="btn btn-outline-secondary mr-2" data-toggle="collapse" data-target="#post_list_options" aria-controls="post_list_options" aria-expanded="false" aria-label="{{ t.toggle_filters }}" title="{{ t.toggle_filters }}" data-toggle="tooltip">
        <span class="fa fa-filter fa-lg fa-fw"></span>
      </button>
      {% endif %}
      {% if page.comments != false and site.disqus.shortname %}
      <button type="button" class="btn btn-outline-secondary mr-2" data-toggle="collapse" data-target="#disqus_thread" aria-controls="{{ t.comments }}" aria-expanded="false" aria-label="{{ t.toggle_comments }}" title="{{ t.toggle_comments }}" data-toggle="tooltip">
        <span class="fa fa-comments fa-lg fa-fw"></span>
      </button>
      {% endif %}
      <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="{{ t.toggle_navigation }}" title="{{ t.toggle_navigation }}" data-toggle="tooltip">
        <span class="fa fa-info fa-lg fa-fw"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav ml-auto d-flex flex-sm-row justify-content-between">
        {% include nav-items-infos.html %}
      </ul>
    </div>

  </nav>

</div>
