

{% include related-posts.html type='pages' categories=page.categories %}
{% assign category_root_page = posts.first %}

{% include related-posts.html %}

<div class="row">
    <div class="col-sm-8">

        {% if category_root_page.title and category_root_page.url != posts.first.url %}
        <h5>
            <a class="nav-link" href="{{ category_root_page.url | relative_url }}">
                {{ category_root_page.title }}
            </a>
        </h5>
        {% endif %}

        {% if posts.size > 0 %}
        <ul class="nav nav-pills flex-column">

            {% assign posts = posts %}
            {% include nav-items.html posts=posts limit=8 %}

            {% if page.tags.size > 0 or posts.size > 8 %}
            {% if category_root_page.url %}
            <div class="dropdown-divider"></div>
            <li class="nav-item">
                <a class="nav-link" href="{{ category_root_page.url | relative_url }}">{{ t.display_all }}</a>
            </li>
            {% endif %}
            {% endif %}

        </ul>
        {% endif %}
    </div>
    <div class="col-sm-4">
        <ul class="nav nav-pills flex-column">
            {% include nav-items.html id="secondary-nav" %}
        </ul>
        <hr>
        <ul class="nav nav-pills flex-column">
            {% include nav-items.html id="main-nav" %}
        </ul>
        <ul class="nav">
            {% include social-nav-items.html %}
        </ul>
    </div>
</div>
