{% if include.id %}
    {% assign posts = site.pages | where_exp: 'item', 'item.nav.id == include.id' | sort: 'nav.position', 'first' %}
{% elsif include.posts %}
    {% assign posts = include.posts %}
{% else %}
    {% assign posts = site.pages %}
{% endif %}

{% if include.class %}
    {% assign class = include.class | split: ' ' %}
{% else %}
    {% assign class = '' | split: ' ' %}
{% endif %}

{% assign navItemClass = include.navItemClass | split: ' ' | push: 'nav-item' %}
{% assign navLinkClass = include.navLinkClass | split: ' ' | push: 'nav-link' %}

{% assign limit = include.limit | default: nil %}

{% for post in posts limit: limit %}

{% assign active = '' %}
{% if post.url == page.url %}
    {% assign active = 'active' %}
{% endif %}

<li class="{{ navItemClass | join: ' ' }}">
    <a class="{{ navLinkClass | push: active | join: ' ' }}" href="{{ post.url | relative_url }}">
        {% if post.nav.icon %}<span class="{{ post.nav.icon }}"></span>{% endif %}
        {% if post.nav.label %}{{ post.nav.label }}{% else %}{{ post.title }}{% endif %}
    </a>
</li>
{% endfor %}
