{% if site.twitter.username %}
<li class="nav-item">
    <a class="nav-link" href="https://twitter.com/{{ site.twitter.username }}" title="Twitter" ><span class="fa fa-twitter"></span></a>
</li>
{% endif %}
{% if site.facebook.publisher %}
<li class="nav-item">
    <a class="nav-link" href="https://www.facebook.com/profile.php?id={{ site.facebook.publisher }}" title="Facebook" ><span class="fa fa-facebook"></span></a>
</li>
{% endif %}
{% if site.repository %}
<li class="nav-item">
    <a class="nav-link" href="https://github.com/{{ site.repository }}" title="Github" ><span class="fa fa-github"></span></a>
</li>
{% endif %}
<li class="nav-item">
    <a class="nav-link" href="{{ "/feed.xml" | relative_url }}" title="RSS" ><span class="fa fa-rss"></span></a>
</li>
