.btn-square-xl {
  width: 150px !important;
  height: 150px !important;
}

.btn-square-lg {
  width: 100px !important;
  height: 100px !important;
  font-size: 10px;
}

/*
.btn-square-lg {
  width: 50px !important;
  height: 50px !important;
  font-size: 10px;
}
*/

.btn-square,
.btn-square-md {
  width: 38px !important;
  height: 38px !important;
  //font-size: 10px;
}

.btn-square-sm {
  width: 25px !important;
  height: 25px !important;
  padding: 2px;
}
