
.card-img {

  min-width: 100%;
  min-height: 100%;

  &.card-img-grayscale {
    filter: grayscale(100%);
  }

  &.card-img-faded {
    filter: brightness(115%) saturate(50%);
    .text-white & {
      filter: brightness(85%) saturate(50%);
    }
    &.lazyloading,
    &.lazyloaded {
      opacity: 1;
    }
  }

}



.card-flip {

  background: none;
  border: none;
  padding: 0;
  transition: transform 300ms;
  transition-timing-function: linear;
  transform-style: preserve-3d;
  tranform: rotateY(0deg);

  .card {
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
  }

  .card:first-of-type {
    position: absolute;
    display: flex;
  }

  .card:last-of-type {
    transform: rotateY(180deg);
  }

  input[type="radio"]:checked ~ &,
  input[type="checkbox"]:checked ~ & {
    transform: rotateY(-180deg);
    .card:last-of-type {
      z-index: 1;
    }
  }

}
