
@import "card-flip";


.card-img {

  min-width: 100%;
  min-height: 100%;

  &.card-img-grayscale {
    filter: grayscale(100%);
  }

  &.card-img-faded {
    filter: brightness(115%) saturate(50%);
    .text-white & {
      filter: brightness(85%) saturate(50%);
    }
    &.lazyloading,
    &.lazyloaded {
      opacity: 1;
    }
  }

}
