
.definition-list  {

  perspective: 5000px;

  .card {
    //min-width: 8rem;
    //min-height: 8rem;
    min-width: 12rem;
    min-height: 12rem;
  }

  .card-body {
    max-width: 25.9rem;
  }

  .card-body {
    word-wrap: break-word;
    word-break: break-word;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }



  .card-flip {

    input[type="radio"]:checked ~ &,
    input[type="checkbox"]:checked ~ & {
      transform: rotateY(-180deg) scale(1.25);
    }

    .card.front {

      .card-title small {
        display: block;
      }

      // Question / Success sign as background
      &:after {
        //content:'\e0b0'; // iconic
        //font-family: 'Icons';
        content: "\f128"; // font-awesome
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        position: absolute;
        z-index: 1;
        font-size: 8rem;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: .05;
      }

      &.bg-success {
        &:after {
          //content:'\e033'; // iconic
          content: "\f00c"; // font-awesome
        }
      }

    }

    .card.back {

      .card-text {

        font-size: 150%;

        strong {
          //font-size: 200%;
          display: block;
        }

        em {
          display: block;
        }

        & > em > strong {
          //display: block;
          &:before {
            //content: "\201C";
          }
          &:after {
            //content: "\201D";
          }
        }

        abbr {
          //font-size: 1rem;
        }

      }

      .btn.active {
        .fa-check {
          color: theme-color("success");
        }
        .fa-times {
          color: theme-color("danger");
        }
      }

      .btn:focus,
      .btn.focus {
        box-shadow: none;
      }

    }

  }



  .card-section {
    width: 12rem;
    word-wrap: break-word;
    word-break: break-word;
  }


  abbr {
    sup & {
      color: theme-color('info');
      text-decoration-color: theme-color('info');
      text-decoration: none;
    }
  }

  .text-pronunciation {
    //display: block;
    color: theme-color('primary');
  }

  .text-literatim {
    //display: block;
    color: theme-color('secondary');
  }

  .text-male {
    color: color('blue');
    text-decoration-color: color('blue');
  }

  .text-female {
    color: color('pink');
    text-decoration-color: color('pink');
  }

  .text-neutral {
    color: color('indigo');
    text-decoration-color: color('indigo');
  }

  .text-plural {
    color: color('orange');
    text-decoration-color: color('orange');
  }


}
