.definition-list  {

  perspective: 50000px;

  .card {
    //min-width: 8rem;
    //min-height: 8rem;
    min-width: 12rem;
    min-height: 12rem;
    overflow: hidden;
  }

  .card-body {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  .card-flip {

    input[type="radio"]:checked ~ &,
    input[type="checkbox"]:checked ~ & {
      transform: rotateY(-180deg) scale(1.25);
    }

    .card-body {
      max-width: 25.9rem;
      word-wrap: break-word;
      word-break: break-word;
    }

    .card.front {

      .card-title {
        //white-space: nowrap;
      }

      .card-title small {
        display: block;
      }

      // Question / Success sign as background
      &:before {
        //content:'\e0b0'; // iconic
        //font-family: 'Icons';
        //content: "\f128"; // font-awesome
        //content: url(../bower_components/font-awesome/advanced-options/raw-svg/solid/question.svg);
        /*font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        position: absolute;
        z-index: 1;
        font-size: 8rem;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;*/
      }

      &.bg-success {
        &:before {
          //content:'\e033'; // iconic
          //content: "\f00c"; // font-awesome
          //content: url(../bower_components/font-awesome/advanced-options/raw-svg/solid/check.svg);
        }
      }

    }

    .card.back {

      .card-text {

        font-size: 150%;
        line-height: 1.2;

        em {
          display: block;
          margin-left: .5rem;
          margin-top: .5rem;
        }

        ul, ol {
          padding-left: 0;
        }

      }

      .btn.active {
        .fa-check {
          color: theme-color("success");
        }
        .fa-times {
          color: theme-color("danger");
        }
      }

      .btn:focus,
      .btn.focus {
        box-shadow: none;
      }

    }

  }



  .card-section {
    width: 12rem;
    word-wrap: break-word;
    word-break: break-word;
    &.front:before {
      //content: "\f129";
      //content: url(../bower_components/font-awesome/advanced-options/raw-svg/solid/info.svg);
    }
  }


  /*abbr {
    sup & {
      color: theme-color('info');
      text-decoration-color: theme-color('info');
      text-decoration: none;
    }
  }*/


  abbr[class*="text-"] {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -0.5em;
    //cursor: inherit !important;
    border-bottom: none !important;
    text-decoration: none !important;
  }


  .text-pronunciation {
    //color: theme-color('primary');
    font-weight: 800;
  }
  .text-pronunciation:before {
    //content: "/";
    //content: "Prononciation";
    content: "Pron.";
  }
  .text-pronunciation:after {
    //content: "/";
    //content: "\201d"; // ”
  }

  .text-literatim {
    //color: theme-color('secondary');
    font-weight: 100;
  }
  .text-literatim:before {
    //content: "\201c"; // “
    //content: "Litt\e9ralement";
    content: "Litt.";
  }
  .text-literatim:after {
    //content: "\201d"; // ”
  }

  .text-pronunciation,
  .text-literatim {
    color: $text-muted;
    display: block;
    line-height: 1rem;
    font-style: italic;
    //font-weight: bold;
  }
  .text-pronunciation:before,
  .text-pronunciation:after,
  .text-literatim:before,
  .text-literatim:after {
    //color: $gray-400;
    display: inline-block;
    font-weight: 100;
    //min-width: .75rem;
    min-width: 2rem;
    margin-right: .25rem;
    display: none;
  }
  .text-pronunciation:before,
  .text-literatim:before {
    text-align: left;
  }
  .text-pronunciation:after,
  .text-literatim:after {
    text-align: right;
  }


  .nav-link:not(.active) abbr[class*="text-"] {
    color: $text-muted !important;
  }

  .text-m,
  .text-male {
    color: color('blue');
    text-decoration-color: color('blue');
  }
  .text-f,
  .text-female {
    color: color('pink');
    text-decoration-color: color('pink');
  }
  .text-n,
  .text-neutral {
    color: color('gray');
    text-decoration-color: color('gray');
  }
  .text-pl,
  .text-plural {
    color: color('yellow');
    text-decoration-color: color('yellow');
  }
  .text-abr,
  .text-fam,
  .text-abbreviation,
  .text-familiar {
    color: color('orange');
    text-decoration-color: color('orange');
  }
  .text-vul,
  .text-slang {
    color: color('red');
    text-decoration-color: color('red');
  }




}
