.card-flip {

    background: none;
    border: none;

    .card {
        backface-visibility: hidden;
        transition: transform 300ms;
        transition-timing-function: linear;
        height: 100%;
        margin-bottom: 0;
    }

    .card:first-of-type {
        tranform: rotateY(0deg);
        position: relative;
    }

    .card:last-of-type {
        transform: rotateY(180deg);
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
    }

    &:hover {
        .card:first-of-type  {
            transform: rotateY(-180deg);
        }
        .card:last-of-type {
            transform: rotateY(0deg);
        }
    }

}
