
html {
  font-size: 12px;
}
@include media-breakpoint-up(sm) {
  html {
    font-size: 13px;
  }
}
@include media-breakpoint-up(md) {
  html {
    font-size: 14px;
  }
}
@include media-breakpoint-up(lg) {
  html {
    font-size: 16px;
  }
}
@include media-breakpoint-up(xl) {
  html {
    font-size: 18px;
  }
}



.card-columns {
  column-count: 1;

  @include media-breakpoint-up(sm) {
    column-count: 2;
  }
  @include media-breakpoint-up(xl) {
    column-count: 3;
  }
}



// Hide content when the collapsible sidebar is open on narrow screens
@include media-breakpoint-down(xs) {
  .col.collapse.show + .col {
    display: none;
  }
}



@include media-breakpoint-only(xs) {
  .navbar-text {
    font-size: 2.25vw;
  }
}
