---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Bootstrap
@import "variables-bootswatch-materia";
@import "bootstrap";

// Font-awesome
$fa-font-path: "../bower_components/font-awesome/fonts";
@import "font-awesome";

// Hamburger menu
//$menu-toggler-size: 50px;
//$menu-toggler-radius: $border-radius;
//$hamburger-size: 30px;
//$hamburger-margin: 10px;
//$hamburger-layer-thickness: 4px;
//@import "hamburger-menu";

@import "scrollbar";
@include scrollbars(.5em, $brand-primary, $gray-dark);

//@import "flipcard";
@import "dl-flexbox";
@import "social-icons";
@import "adsense";

body {
    padding-top: 80px;
    padding-bottom: 20px;
}

.sidebar.sticky-top {
    top: 80px;
    bottom: 20px;
    z-index: initial;
}

.post-content {
    h2 {
        color: $gray-lightest;
    }
}

dl.card-columns,
dl.d-flex {
    & > label {
        margin-bottom: 0;
        input[type="checkbox"] {
            display: none;
        }
        input[type="checkbox"]:checked {
            & + .card {
                opacity: .25;
            }
        }
    }
}

.card-inverse {
    .card-img {
       filter: brightness(75%) saturate(50%);
    }
    .text-muted {
        //color: $inverse-color;
        //color: rgba(#fff, .5) !important;
    }
}

// Hide images until they are fully loaded
.lazyload,
.lazyloading {
    opacity: 0;
}
.lazyloaded {
    opacity: 1;
    transition: opacity 300ms;
}
