.social-icon-colored a,
.social-icon-colored-hover a:hover {
  .fa-twitter:before {
    color: #55acee;
  }

  .fa-facebook:before {
    color: #4862a3;
  }

  .fa-github:before {
    color: #171515;
  }

  .fa-rss:before {
    color: #eb7b1d;
  }
}
