---
layout: default
---
{% assign lang = page.lang | default: site.lang | default: "en" %}
{% assign t = site.data.locales[lang] %}

<div class="container-fluid">

    {% if page.title %}
    <header class="post-header" hidden>
        <h1 class="post-title display-4 mb-4">{{ page.title | escape | replace: ':', ':<br>' }}</h1>
        {% if page.subtitle %}
        <h6 class="mb-2 text-muted">{{ post.subtitle | escape }}</h6>
        {% endif %}
    </header>
    {% endif %}

    <div class="row">
        {{ content }}
    </div>


    {% include related-posts.html %}

    {% if posts.size > 0 %}

    <div class="collapse" id="post_list_options">
    {% include filter-togglers.html posts=posts %}
    </div>

    {% assign posts = posts | sort: 'title' | reverse | sort: 'weight' | reverse %}
    <div class="card-columns">
        {% for post in posts %}

        {% comment %}
        {% include card.html post=post img-class='card-img-faded card-img-grayscale' %}
        {% endcomment %}

        <label for="flipcard_toggler_{{ post.url | slugify: 'default' }}" class="w-100 m-0 {% include filter-tags.html post=post %}">
          <input type="radio" id="flipcard_toggler_{{ post.url | slugify: 'default' }}" name="flipcard_toggler" value="{{ post.url }}" class="d-none" data-storage="false" />
          <figure class="card card-flip">
            {% include card.html face="front" post=post class="bg-dark text-white" img-class="card-img-faded" title-class="h2 font-weight-bold" %}
            {% include card.html face="back" post=post class="bg-white text-dark card-position-absolute" %}
          </figure>
        </label>

        {% endfor %}
    </div>
    <input type="radio" id="flipcard_toggler_none" name="flipcard_toggler" value="none" class="d-none" checked />

    {% else %}
    <div class="alert alert-info" role="alert">
        <strong>{{ t.oups }}</strong> {{ t.no_result_info}}
    </div>
    {% endif %}

</div>

<script type="application/ld+json">
{% include structured-data/item-list.html collection=page.collection_type %}
</script>
