---
layout: default
---
{% assign lang = page.lang | default: site.lang | default: "en" %}
{% assign t = site.data.locales[lang] %}

<div class="container-fluid">

    {% if page.title %}
    <header class="post-header">
        <h1 class="post-title display-4 mb-4">{{ page.title | escape | replace: ':', ':<br>' }}</h1>
        {% if page.subtitle %}
        <h6 class="mb-2 text-muted">{{ post.subtitle | escape }}</h6>
        {% endif %}
    </header>
    {% endif %}

    <div class="row">
        {{ content }}
    </div>

    {% include related-posts.html %}
    {% if posts.size > 0 %}
    {% assign posts = posts | sort: 'title' | reverse | sort: 'weight' | reverse %}
    <div class="card-columns">
        {% for post in posts %}
        {% include card.html post=post %}
        {% endfor %}
    </div>
    {% else %}
    <div class="alert alert-info" role="alert">
        <strong>{{ t.oups }}Oups!</strong> {{ t.no_result_info}}
    </div>
    {% endif %}

</div>
