---
layout: default
---
{% assign lang = page.lang | default: site.lang | default: "en" %}
{% assign t = site.data.locales[lang] %}

{% include related-posts.html %}

<div class="container-fluid">
  <div class="row clearfix">
    <div class="collapse col col-sm-4 col-md-4 col-lg-3 col-xl-2 order-2" id="post_options">
      <div class="sidebar sticky-top">

        {% if posts.size > 0 %}
        {% include filter-togglers.html posts=posts direction="vertical" %}
        {% endif %}

      </div>
    </div>
    <div class="col order-1 p-0">
      <article class="post">

        {% if page.title %}
        <header class="post-header" hidden>
          <h1 class="post-title display-4 mb-4">{{ page.title | escape | replace: ':', ':<br>' }}</h1>
          {% if page.subtitle %}
          <h6 class="mb-2 text-muted">{{ post.subtitle | escape }}</h6>
          {% endif %}
        </header>
        {% endif %}

        {{ content }}

        {% if posts.size > 0 %}

        {% assign posts = posts | sort: 'title' | reverse | sort: 'weight' | reverse %}
        <div class="post-list -card-columns d-flex flex-row flex-wrap -justify-content-between">
          {% for post in posts %}
          {% if post.url and post.title and post.content.size > 100 %}

          <div class="{% include filter-tags.html post=post %}">
            <input type="radio" id="flipcard_position_{{ post.url | slugify: 'default' }}" name="flipcard_position" value="{{ post.url }}" class="flipcard-position d-none" data-storage="false" />
            <div class="card card-flip m-1">
              {% if post.weight > 0 %}
              {% assign class = 'card-position-absolute bg-primary text-white' %}
              {% else %}
              {% assign class = 'card-position-absolute bg-white' %}
              {% endif %}
              {% include card.html face="front" post=post class=class img-class="card-img-faded card-img-grayscale" title-class="h2 font-weight-bold" %}
              {% include card.html face="back" post=post class="bg-white text-dark" %}
            </div>
          </div>

          {% endif %}
          {% endfor %}
        </div>
        <input type="radio" id="flipcard_toggler_none" name="flipcard_toggler" value="none" class="d-none" checked />

        {% else %}
        <div class="alert alert-info" role="alert">
          <strong>{{ t.oups }}</strong> {{ t.no_result_info}}
        </div>
        {% endif %}

      </article>
    </div>
  </div>
</div>

{% comment %}
<script type="application/ld+json">
{% include structured-data/item-list.html collection=page.collection_type %}
</script>
{% endcomment %}
