---
layout: compress
---
{% assign lang = page.lang | default: site.lang | default: "en" %}
{% assign t = site.data.locales[lang] %}

<!DOCTYPE html>
<html lang="{{ lang }}">
{% include head.html %}
<body>

  {% include adsense.html %}

  <div class="fixed-ad-beside">

    {% if page.layout != 'home' %}{% endif %}
    {% include header.html %}


    <main id="top" class="page-content animated fadeInRight py-3">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include comments.html %}

    {% include footer.html %}

  </div>

  {% if criticalcss.size > 0 %}
  {% include styles.html %}
  {% endif %}

  {% include scripts.html %}

</body>
</html>
