---
layout: compress
---
{% assign lang = page.lang | default: site.lang | default: "en" %}
{% assign t = site.data.locales[lang] %}

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{% include head.html %}
<body>

  {% include adsense.html %}

  <div class="fixed-ad-beside">

    {% include header.html %}

    <main id="top" class="page-content py-3">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </div>

  {% include scripts.html %}

</body>
</html>
