---
layout: compress
---
{% assign lang = page.lang | default: site.lang | default: "en" %}
{% assign t = site.data.locales[lang] %}

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="bg-dark text-white">

    {% include header.html %}
    {% include adsense.html %}

    <main id="top" class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    
    {% include footer.html %}
    {% include scripts.html %}

  </body>

</html>
