---
layout: default
---
{% assign lang = page.lang | default: site.lang | default: "en" %}
{% assign t = site.data.locales[lang] %}

<div class="container-fluid">

    <div id="memorized-tip" class="alert alert-info alert-dismissible" role="alert" hidden>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <!--
        <strong>Conseil!</strong> Cliquez sur les cartes que vous avez mémorisées pour les différencier. Votre sélection sera conservée localement jusqu'à votre prochaine visite.
        <-->
        <strong>{{ t.tip }}</strong> {{ t.memorized_tip }}
    </div>

    <div class="row">
        <div class="col col-md-3 -pull-right">
            <div class="sticky-sidebar">
                <ul id="index" class="nav nav-pills flex-column">
                </ul>
            </div>
        </div>
        <div class="col">

            <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

                <div class="post-content definition-list" itemprop="articleBody" style="visibility: hidden;">
                    {{ content }}
                </div>

                {% if site.disqus.shortname %}
                {% include disqus_comments.html %}
                {% endif %}

            </article>

            <a class="btn btn-outline-secondary pull-right" href="{{ 'https://github.com/' | append: site.repository | append: '/edit/master/' | append: page.path }}" target="_blank" role="button"><span class="fa fa-edit"></span>{{ t.edit }}</a>

        </div>
    </div>
</div>
