---
layout: default
---
{% assign lang = page.lang | default: site.lang | default: "en" %}
{% assign t = site.data.locales[lang] %}

<div class="container-fluid">
  <div class="row clearfix">
    <div class="collapse col col-sm-4 col-md-4 col-lg-3 col-xl-2 order-2" id="post_options">
      <div class="sidebar sticky-top">

        {% if page.layout == 'definition-lists' %}
        <div class="progress mb-3" title="{{ t.progress }}">
          <div class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">O%</div>
        </div>
        {% endif %}

        <div class="card mb-3">
          <div class="card-header">{{ t.index }}</div>
          <div class="card-body">
            <ul id="index" class="nav flex-column nav-pills">
            </ul>
          </div>
        </div>

        {% if page.layout == 'post' or page.layout == 'definition-lists' %}
        <a class="btn btn-outline-secondary btn-sm btn-block mb-3" href="{{ 'https://github.com/' | append: site.repository | append: '/edit/master/' | append: page.path }}" target="_blank" role="button">
          {{ t.edit_on_github }}
        </a>
        {% endif %}

      </div>
    </div>
    <div class="col order-1">
      <article class="post">

        {% include alert.html title=t.definition_list_tip_title text=t.definition_list_tip_text style="info" id="memorized-tip" dismissible=1 %}

        {% if page.alerts and page.alerts.size > 0 %}
        {% assign alerts = site.alerts | where_exp: "item", "page.alerts contains item.path" %}
        {% for alert in alerts %}
        {% assign alert_id = alert.path | slugify %}
        {% assign alert_content = alert.content | markdownify %}
        {% include alert.html title=alert.title content=alert_content style=alert.alert.style id=alert_id dismissible=1 %}
        {% endfor %}
        {% endif %}

        <header class="post-header" hidden>
          <h1 class="post-title display-4 mb-4">{{ page.title | escape }}</h1>
        </header>
        <div class="post-content" {% if page.definition-lang %}data-definition-lang="{{ page.definition-lang }}"{% endif %}>
          {{ content }}
        </div>

      </article>
    </div>
  </div>
</div>

<script type="application/ld+json">
{% include structured-data/blog-posting.html %}
</script>
