{% assign post = include.post | default: page %}

{
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "headline": "{{ post.excerpt }}",
    "genre": "{{ post.category }}",
    "keywords": "{{ post.tags | join: ',' }}",
    "wordCount": "{{ post.content | number_of_words }}",
    "url": "{{ post.path | absolute_url }}",
    "datePublished": "{{ post.date | date_to_xmlschema }}",
    "dateModified": "{{ post.date | date_to_xmlschema }}",

    {% if include.position %}
    "position": {{ include.position }},
    {% endif %}

    {% if post.author %}
    "author": {% include structured-data/person.html person=post.author %},
    {% endif %}

    {% if post.publisher %}
    "publisher": {% include structured-data/person.html person=post.publisher %},
    {% elsif post.author %}
    "publisher": {% include structured-data/person.html person=post.author %},
    {% endif %}

    {% if post.image.path %}
    "image": {% include structured-data/image.html path=post.image.path width=post.image.width height=post.image.height %},
    {% endif %}

    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ post.path | absolute_url }}"
    },

    "articleBody": "{{ post.content | strip_html | xml_escape | normalize_whitepace | strip_newlines | strip }}"
}
